<div class="container-fluid">
    <ul class="horizontal">
        <li class="li"><a routerLink="/AddRoute">Add Route</a></li>
        <li class="li"><a routerLink="/DeleteRoute">Delete Route</a></li>
        <li class="li"><a routerLink="/ShowAllBookings">All Bookings</a></li>
        <li class="li"><a routerLink="/ShowAllRoutes">All Routes</a></li>
        <li class="li"><a routerLink="/ShowAllFlights">All Flights</a></li>
    </ul>
</div>
<div class="container-fluid">
    <form [formGroup]="deleterouteform" class="was-validated form-inline" (ngSubmit)="DeleteRoute()" >
    <table class="table table-hover table-striped table-bordered table-primary">
        <tbody>
        <tr>   
        <th>Select Route To Delete</th>
        </tr> 
        <tr>
        <td><select class="form-control" formControlName="routedel">
            <option  *ngFor="let i of data" value="{{i.fromCity}}">{{i.fromCity}}</option>
            </select>   </td>
    </tr>  
            <tr>
                <td colspan="2" style="text-align: center ;"><input type="submit" [disabled]="deleterouteform.invalid" value="Delete Route" class="btn btn-danger" /></td>
            </tr>
    </tbody>
    </table>
    </form>
    </div>