<div className="header container-fluid">
  <header>
      <h1> <img src="../../../assets/images/airlinelogo.png" alt=""  width="120"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Online Airline Reservation </h1>
      
  </header>
  <div className="bcimg">
  <img src="../../../assets/images/airlinebackground.png" width="1300" height="500"/>
  </div>
  </div>
  <h2>Diwali Discounts</h2>
  <div class="size">
    

    <div class="card">
  <div class="container">
   <img src="../../../assets/images/d1.png" width='300' height='150'/>
  <p><b><h4>On Booking between 3 to 5 seats</h4></b></p>
  </div>
  </div>
  <div class="card">
  <div class="container">
   <img src="../../../assets/images/d2.png" width="300" height="150"/>
  <p><b><h4>On Booking More than 5 seats</h4></b></p>
  </div>
  </div>
  <div class="card">
  <div class="container">
   <img src="../../../assets/images/d4.png" width="300" height="150"/>
  <p><b><h4>Hurry Book Now !!!!</h4></b></p>
  </div>
  </div>
  </div>
  