<h1 class="text-danger" style="margin-left:37% ;">Change Password</h1>
<div class="container-fluid" style="width:300px">
    <form [formGroup]="updatepasswordform" class="was-validated" (ngSubmit)="Change()">
        <div class="form-floating mb-3 mt-3">
            <input type="text" class="form-control" formControlName="email" id="email"  readonly>
            <label for="email">Email</label>
          </div>
          
          <div class="form-floating mt-3 mb-3">
            <input type="password" class="form-control" formControlName="oldp"id="pwd" placeholder="Old Password" required>
            <label for="pwd">Old Password</label>
          </div>
          <div class="form-floating mt-3 mb-3">
            <input type="password" class="form-control" formControlName="newp"id="npwd" placeholder="New Password" required>
            <label for="npwd">New Password</label>
          </div>
          <div class="form-floating mt-3 mb-3">
            <input type="password" class="form-control" formControlName="cnp"id="cnp" placeholder="Confirm New Password" required>
            <label for="npwd">Confirm Password</label>
          </div>
          <div class="mb-3">
            <input type="submit" class="btn btn-success" >
          </div>
    </form>
    
</div>